swagger: '2.0'
info:
  version: 0.35.0
  title: bKash Checkout API
host: checkout.sandbox.bka.sh
basePath: /v0.35.0
schemes:
  - https
paths:
  /checkout/payment/create:
    post:
      tags:
        - "Payment"
      summary: "Create Payment (Sale or Authorize)"
      operationId: createPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: CreatePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/CreatePaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/execute/{paymentID}':
    post:
      tags:
        - "Payment"
      summary: "Execute Payment"
      operationId: executePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ExecutePaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/ExecutePaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/ExecutePaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/capture/{paymentID}':
    post:
      tags:
        - "Payment"
      summary: "Capture"
      operationId: capturePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CapturePaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/CapturePaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/CapturePaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/query/{paymentID}':
    get:
      tags:
        - "Payment"
      summary: "Query Payment"
      operationId: queryPaymentUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryPaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/QueryPaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/QueryPaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/void/{paymentID}':
    post:
      tags:
        - "Payment"
      summary: "Void"
      operationId: voidPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/VoidPaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/VoidPaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/VoidPaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/refund/{trxID}':
    post:
      tags:
        - "Payment"
      summary: "Refund"
      operationId: refundTransactionUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: trxID
          in: path
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: RefundRequest
          required: true
          schema:
            $ref: '#/definitions/RefundRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefundResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/RefundResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/RefundResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  /checkout/payment/b2cPayment:
    post:
      tags:
        - "Payout"
      summary: "B2C Payment"
      operationId: b2cPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: B2CPaymentRequest
          required: true
          schema:
            $ref: '#/definitions/B2CPaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/B2CPaymentResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/B2CPaymentResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/B2CPaymentResponse'
        '404':
          description: 404 response
      security:
        - cognitoAuthorizer: []
  /checkout/token/grant:
    post:
      tags:
        - "Token"
      summary: "Grant Token"
      operationId: getTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: GetTokenRequest
          required: true
          schema:
            $ref: '#/definitions/GetTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/GetTokenResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/GetTokenResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/GetTokenResponse'
        '404':
          description: 404 response
  /checkout/token/refresh:
    post:
      tags:
        - "Token"
      summary: "Refresh Token"
      operationId: refreshTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: RefreshTokenRequest
          required: true
          schema:
            $ref: '#/definitions/RefreshTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefreshTokenResponse'
        '201':
          description: 201 response
        '401':
          description: 401 response
          schema:
            $ref: '#/definitions/RefreshTokenResponse'
        '403':
          description: 403 response
          schema:
            $ref: '#/definitions/RefreshTokenResponse'
        '404':
          description: 404 response
securityDefinitions:
  cognitoAuthorizer:
    type: apiKey
    name: Authorization
    in: header
    x-amazon-apigateway-authtype: cognito_user_pools
definitions:
  ExecutePaymentResponse:
    type: object
    properties:
      amount:
        type: string
      createTime:
        type: string
      currency:
        type: string
      intent:
        type: string
      paymentID:
        type: string
      transactionStatus:
        type: string
      trxID:
        type: string
      updateTime:
        type: string
  GetTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
  RefreshTokenResponse:
    type: object
    properties:
      expires_in:
        type: string
      id_token:
        type: string
      refresh_token:
        type: string
      token_type:
        type: string
  CreatePaymentRequest:
    type: object
    required:
      - amount
      - currency
      - intent
      - merchantInvoiceNumber
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
      intent:
        type: string
        description: Intent
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
  B2CPaymentResponse:
    type: object
    properties:
      completedTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
  CreatePaymentResponse:
    type: object
    properties:
      completedTime:
        type: string
      intent:
        type: string
      paymentID:
        type: string
      transactionStatus:
        type: string
      orgLogo:
        type: string
      orgName:
        type: string
  B2CPaymentRequest:
    type: object
    required:
      - amount
      - currency
      - merchantInvoiceNumber
      - receiverMSISDN
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
      receiverMSISDN:
        type: string
        description: Receiver MSISDN
  RefreshTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
      - refresh_token
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
      refresh_token:
        type: string
        description: Refresh Token
  RefundRequest:
    type: object
    required:
      - amount
      - currency
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
  GetTokenResponse:
    type: object
    properties:
      expires_in:
        type: string
      id_token:
        type: string
      refresh_token:
        type: string
      token_type:
        type: string
  CapturePaymentResponse:
    type: object
    properties:
      createTime:
        type: string
      paymentID:
        type: string
      transactionStatus:
        type: string
      trxID:
        type: string
      updateTime:
        type: string
  RefundResponse:
    type: object
    properties:
      completedTime:
        type: string
      originalTrxID:
        type: string
      refundTrxID:
        type: string
      transactionStatus:
        type: string
  QueryPaymentResponse:
    type: object
    properties:
      amount:
        type: string
      currency:
        type: string
      paymentID:
        type: string
      refundAmount:
        type: string
      transactionStatus:
        type: string
      trxID:
        type: string
  VoidPaymentResponse:
    type: object
    properties:
      createTime:
        type: string
      paymentID:
        type: string
      transactionStatus:
        type: string
      trxID:
        type: string
      updateTime:
        type: string
