swagger: '2.0'
info:
  version: 1.1.0-beta
  title: bKash Payments API
host: direct.sandbox.bka.sh
basePath: /v1.1.0-beta
schemes:
  - https
paths:
  /payments/mandate/create:
    post:
      tags:
        - "Mandate"
      summary: "Create Mandate"
      operationId: createMandateUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: CreateMandateRequest
          required: true
          schema:
            $ref: '#/definitions/CreateMandateRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CreateMandateResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/mandate/execute/{paymentID}':
    post:
      tags:
        - "Mandate"
      summary: "Execute Mandate"
      operationId: executeMandateUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ExecuteMandateResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/mandate/query/{mandateID}':
    get:
      tags:
        - "Mandate"
      summary: "Query Mandate"
      operationId: queryMandateUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: mandateID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryMandateResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/mandate/cancel/{mandateID}':
    post:
      tags:
        - "Mandate"
      summary: "Cancel Mandate"
      operationId: cancelMandateUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: mandateID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CancelMandateResponse'
      security:
        - cognitoAuthorizer: []
  /checkout/payment/create:
    post:
      tags:
        - "Checkout Payment"
      summary: "Create Payment (Sale or Authorize)"
      operationId: createPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: CreatePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/CreatePaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/capture/{paymentID}':
    post:
      tags:
        - "Checkout Payment"
      summary: "Capture"
      operationId: capturePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CapturePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/execute/{paymentID}':
    post:
      tags:
        - "Checkout Payment"
      summary: "Execute Payment"
      operationId: executePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ExecutePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/query/{paymentID}':
    get:
      tags:
        - "Checkout Payment"
      summary: "Query Payment"
      operationId: queryPaymentUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryPaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/void/{paymentID}':
    post:
      tags:
        - "Checkout Payment"
      summary: "Void"
      operationId: voidPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/VoidPaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/mandate/{mandateID}':
    post:
      tags:
        - "Direct Payment"
      summary: "Sale or Authorize"
      operationId: directDebitUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: mandateID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: DirectDebitRequest
          required: true
          schema:
            $ref: '#/definitions/DirectDebitRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/DirectDebitResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/capture/{paymentID}':
    post:
      tags:
        - "Direct Payment"
      summary: "Capture"
      operationId: directDebitCaptureUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/DirectDebitCaptureResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/query/{paymentID}':
    get:
      tags:
        - "Direct Payment"
      summary: "Query Payment"
      operationId: queryAuthorizationPaymentUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/DirectDebitQueryResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/void/{paymentID}':
    post:
      tags:
        - "Direct Payment"
      summary: "Void"
      operationId: cancelPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/DirectDebitVoidResponse'
      security:
        - cognitoAuthorizer: []
  /payments/payment/b2cPayment:
    post:
      tags:
        - "Payout"
      summary: "B2C Payment"
      operationId: b2cPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: B2CPaymentRequest
          required: true
          schema:
            $ref: '#/definitions/B2CPaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/B2CPaymentResponse'
      security:
        - cognitoAuthorizer: []
  /payments/payment/organizationBalance:
    get:
      tags:
        - "Supporting Operations"
      summary: "Query Organization Balance"
      operationId: queryOrganizationBalanceUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryOrganizationBalanceResponse'
      security:
        - cognitoAuthorizer: []
  /payments/payment/intraAccountTransfer:
    post:
      tags:
        - "Supporting Operations"
      summary: "Intra-Account Transfer"
      operationId: intraAccountTransferUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: IntraAccountTransferRequest
          required: true
          schema:
            $ref: '#/definitions/IntraAccountTransferRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/IntraAccountTransferResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/search/{trxID}':
    get:
      tags:
        - "Supporting Operations"
      summary: "Search Transaction Details"
      operationId: searchTransactionUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: trxID
          in: path
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/SearchTransactionResponse'
      security:
        - cognitoAuthorizer: []
  '/payments/payment/refund/{trxID}':
    post:
      tags:
        - "Supporting Operations"
      summary: "Refund"
      operationId: refundTransactionUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: trxID
          in: path
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: RefundRequest
          required: true
          schema:
            $ref: '#/definitions/RefundRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefundResponse'
      security:
        - cognitoAuthorizer: []
  /payments/token/grant:
    post:
      tags:
        - "Token"
      summary: "Grant Token"
      operationId: getTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: GetTokenRequest
          required: true
          schema:
            $ref: '#/definitions/GetTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/GetTokenResponse'
  /payments/token/refresh:
    post:
      tags:
        - "Token"
      summary: "Refresh Token"
      operationId: refreshTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: RefreshTokenRequest
          required: true
          schema:
            $ref: '#/definitions/RefreshTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefreshTokenResponse'
securityDefinitions:
  cognitoAuthorizer:
    type: apiKey
    name: Authorization
    in: header
    x-amazon-apigateway-authtype: cognito_user_pools
definitions:
  DirectDebitResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
      payerReferenceNumber:
        type: string
  GetTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
  RefreshTokenResponse:
    type: object
    properties:
      token_type:
        type: string
      id_token:
        type: string
      expires_in:
        type: string
      refresh_token:
        type: string
  DirectDebitVoidResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
  SearchTransactionResponse:
    type: object
    properties:
      amount:
        type: string
      completedTime:
        type: string
      currency:
        type: string
      customerMsisdn:
        type: string
      initiationTime:
        type: string
      organizationShortCode:
        type: string
      transactionReference:
        type: string
      transactionStatus:
        type: string
      transactionType:
        type: string
      trxID:
        type: string
  CreatePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      orgLogo:
        type: string
      orgName:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  DirectDebitQueryResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      payerReferenceNumber:
        type: string
      merchantInvoiceNumber:
        type: string
      refundAmount:
        type: string
  RefreshTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
      - refresh_token
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
      refresh_token:
        type: string
        description: Refresh Token
  DirectDebitRequest:
    type: object
    required:
      - amount
      - currency
      - intent
      - merchantInvoiceNumber
      - payerReferenceNumber
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
      intent:
        type: string
        description: Intent(sale/authorization)
      payerReferenceNumber:
        type: string
        description: Payer Reference Number
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
  QueryMandateResponse:
    type: object
    properties:
      completedTime:
        type: string
      mandateInfo:
        $ref: '#/definitions/MandateInfo'
      payeeName:
        type: string
      payerName:
        type: string
      mandateStatus:
        type: string
  GetTokenResponse:
    type: object
    properties:
      id_token:
        type: string
      refresh_token:
        type: string
      expires_in:
        type: string
      token_type:
        type: string
  RefundResponse:
    type: object
    properties:
      completedTime:
        type: string
      originalTrxID:
        type: string
      refundTrxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
  OrganizationBalance:
    type: object
    properties:
      accountHolderName:
        type: string
      accountStatus:
        type: string
      accountTypeName:
        type: string
      availableBalance:
        type: string
      currency:
        type: string
      currentBalance:
        type: string
      updateTime:
        type: string
  QueryPaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
      refundAmount:
        type: string
  ExecutePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  QueryOrganizationBalanceResponse:
    type: object
    properties:
      organizationBalance:
        type: array
        items:
          $ref: '#/definitions/OrganizationBalance'
  CreatePaymentRequest:
    type: object
    required:
      - amount
      - currency
      - intent
      - merchantInvoiceNumber
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
      intent:
        type: string
        description: Intent(sale/authorization)
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
  IntraAccountTransferRequest:
    type: object
    required:
      - amount
      - currency
      - transferType
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
      transferType:
        type: string
        description: TransferType(Collection2Disbursement/Disbursement2Collection)
  CreateMandateRequest:
    type: object
    required:
      - firstPaymentDate
      - frequency
      - payerReferenceNumber
      - requestType
    properties:
      firstPaymentDate:
        type: string
        description: First Payment Date. Format (yyyymmdd)
      frequency:
        type: string
        description: Frequency(08 - On demand)
      payerReferenceNumber:
        type: string
        description: Payer Reference Number
      requestType:
        type: string
        description: Request Type(Mandate/MandateWithPayment)
      startRangeOfDays:
        type: string
        description: Start Range Of Days
      endRangeOfDays:
        type: string
        description: End Range Of Days
      expiryDate:
        type: string
        description: Expiry Date. Format (yyyymmdd)
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
      intent:
        type: string
        description: Intent(sale/authorization)
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
  B2CPaymentResponse:
    type: object
    properties:
      completedTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      merchantInvoiceNumber:
        type: string
      receiverMSISDN:
        type: string
      b2cFee:
        type: string
  CancelMandateResponse:
    type: object
    properties:
      completedTime:
        type: string
      mandateID:
        type: string
      mandateStatus:
        type: string
  MandateInfo:
    type: object
    properties:
      agreedTC:
        type: string
      expiryDate:
        type: string
      firstPaymentDate:
        type: string
      frequency:
        type: string
      mandateID:
        type: string
      payerReferenceNumber:
        type: string
  B2CPaymentRequest:
    type: object
    required:
      - amount
      - currency
      - merchantInvoiceNumber
      - receiverMSISDN
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
      receiverMSISDN:
        type: string
        description: Receiver MSISDN
  ExecuteMandateResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      requestType:
        type: string
      mandateID:
        type: string
      mandateStatus:
        type: string
      customerAccountNo:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      trxPaymentID:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  RefundRequest:
    type: object
    required:
      - amount
      - currency
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency(BDT)
  CreateMandateResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      requestType:
        type: string
      orgLogo:
        type: string
      orgName:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  CapturePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
  DirectDebitCaptureResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
  IntraAccountTransferResponse:
    type: object
    properties:
      amount:
        type: string
      completedTime:
        type: string
      currency:
        type: string
      transactionStatus:
        type: string
      transferType:
        type: string
      trxID:
        type: string
  VoidPaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
