{
  "swagger": "2.0",
  "info": {
    "version": "0.35.0",
    "title": "bKash Payments API"
  },
  "host": "direct.sandbox.bka.sh",
  "basePath": "/v0.35.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/payments/mandate/create": {
      "post": {
        "tags": [
          "Mandate"
        ],
        "summary": "Create Mandate",
        "operationId": "createMandateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "CreateMandateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMandateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/CreateMandateResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/CreateMandateResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/CreateMandateResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/mandate/execute/{paymentID}": {
      "post": {
        "tags": [
          "Mandate"
        ],
        "summary": "Execute Mandate",
        "operationId": "executeMandateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/ExecuteMandateResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/ExecuteMandateResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/ExecuteMandateResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/mandate/query/{mandateID}": {
      "get": {
        "tags": [
          "Mandate"
        ],
        "summary": "Query Mandate",
        "operationId": "queryMandateUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mandateID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/QueryMandateResponse"
            }
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/QueryMandateResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/QueryMandateResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/mandate/cancel/{mandateID}": {
      "post": {
        "tags": [
          "Mandate"
        ],
        "summary": "Cancel Mandate",
        "operationId": "cancelMandateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mandateID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/CancelMandateResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/CancelMandateResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/CancelMandateResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/mandate/{mandateID}": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Sale or Authorize",
        "operationId": "directDebitUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mandateID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "DirectDebitRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DirectDebitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/DirectDebitResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/DirectDebitResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/DirectDebitResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/capture/{paymentID}": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Capture",
        "operationId": "directDebitCaptureUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/CapturePaymentResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/CapturePaymentResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/CapturePaymentResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/query/{paymentID}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Query Payment",
        "operationId": "queryAuthorizationPaymentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/QueryAuthorizationPaymentResponse"
            }
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/QueryAuthorizationPaymentResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/QueryAuthorizationPaymentResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/void/{paymentID}": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Void",
        "operationId": "cancelPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/VoidPaymentResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/VoidPaymentResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/VoidPaymentResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/refund/{trxID}": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Refund",
        "operationId": "refundTransactionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "trxID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "RefundRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/RefundResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/RefundResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/RefundResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/payment/b2cPayment": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "B2C Payment",
        "operationId": "b2cPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-APP-Key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "B2CPaymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/B2CPaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/B2CPaymentResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/B2CPaymentResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/B2CPaymentResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "cognitoAuthorizer": []
          }
        ]
      }
    },
    "/payments/token/grant": {
      "post": {
        "tags": [
          "Token"
        ],
        "summary": "Grant Token",
        "operationId": "getTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GetTokenRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/GetTokenResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/GetTokenResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/GetTokenResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        }
      }
    },
    "/payments/token/refresh": {
      "post": {
        "tags": [
          "Token"
        ],
        "summary": "Refresh Token",
        "operationId": "refreshTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "RefreshTokenRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/RefreshTokenResponse"
            }
          },
          "201": {
            "description": "201 response"
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/RefreshTokenResponse"
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/RefreshTokenResponse"
            }
          },
          "404": {
            "description": "404 response"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "cognitoAuthorizer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "cognito_user_pools"
    }
  },
  "definitions": {
    "DirectDebitResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "transactionStatus": {
          "type": "string"
        },
        "completedTime": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "merchantInvoiceNumber": {
          "type": "string"
        },
        "payerReferenceNumber": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        },
        "trxID": {
          "type": "string"
        }
      }
    },
    "GetTokenRequest": {
      "type": "object",
      "required": [
        "app_key",
        "app_secret"
      ],
      "properties": {
        "app_key": {
          "type": "string",
          "description": "App Key"
        },
        "app_secret": {
          "type": "string",
          "description": "App Secret"
        }
      }
    },
    "RefreshTokenResponse": {
      "type": "object",
      "properties": {
        "token_type": {
          "type": "string"
        },
        "id_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "string"
        },
        "refresh_token": {
          "type": "string"
        }
      }
    },
    "CreateMandateRequest": {
      "type": "object",
      "required": [
        "firstPaymentDate",
        "frequency",
        "payerReferenceNumber"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "description": "Amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency"
        },
        "endRangeOfDays": {
          "type": "string",
          "description": "End Range Of Days"
        },
        "expiryDate": {
          "type": "string",
          "description": "Expiry Date"
        },
        "firstPaymentDate": {
          "type": "string",
          "description": "First Payment Date"
        },
        "frequency": {
          "type": "string",
          "description": "Frequency"
        },
        "intent": {
          "type": "string",
          "description": "Intent"
        },
        "merchantInvoiceNumber": {
          "type": "string",
          "description": "Merchant Invoice Number"
        },
        "payerReferenceNumber": {
          "type": "string",
          "description": "Payer Reference Number"
        },
        "startRangeOfDays": {
          "type": "string",
          "description": "Start Range Of Days"
        }
      }
    },
    "B2CPaymentResponse": {
      "type": "object",
      "properties": {
        "completedTime": {
          "type": "string"
        },
        "trxID": {
          "type": "string"
        },
        "transactionStatus": {
          "type": "string"
        }
      }
    },
    "CancelMandateResponse": {
      "type": "object",
      "properties": {
        "completedTime": {
          "type": "string"
        },
        "mandateID": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "MandateInfo": {
      "type": "object",
      "properties": {
        "agreedTC": {
          "type": "string"
        },
        "expiryDate": {
          "type": "string"
        },
        "firstPaymentDate": {
          "type": "string"
        },
        "frequency": {
          "type": "string"
        },
        "mandateID": {
          "type": "string"
        },
        "payerReferenceNumber": {
          "type": "string"
        }
      }
    },
    "B2CPaymentRequest": {
      "type": "object",
      "required": [
        "amount",
        "currency",
        "merchantInvoiceNumber",
        "receiverMSISDN"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "description": "Amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency"
        },
        "merchantInvoiceNumber": {
          "type": "string",
          "description": "Merchant Invoice Number"
        },
        "receiverMSISDN": {
          "type": "string",
          "description": "Receiver MSISDN"
        }
      }
    },
    "RefreshTokenRequest": {
      "type": "object",
      "required": [
        "app_key",
        "app_secret",
        "refresh_token"
      ],
      "properties": {
        "app_key": {
          "type": "string",
          "description": "App Key"
        },
        "app_secret": {
          "type": "string",
          "description": "App Secret"
        },
        "refresh_token": {
          "type": "string",
          "description": "Refresh Token"
        }
      }
    },
    "DirectDebitRequest": {
      "type": "object",
      "required": [
        "amount",
        "currency",
        "intent",
        "merchantInvoiceNumber",
        "payerReferenceNumber"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "description": "Amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency"
        },
        "intent": {
          "type": "string",
          "description": "Intent"
        },
        "payerReferenceNumber": {
          "type": "string",
          "description": "Payer Reference Number"
        },
        "merchantInvoiceNumber": {
          "type": "string",
          "description": "Merchant Invoice Number"
        }
      }
    },
    "ExecuteMandateResponse": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string"
        },
        "mandateID": {
          "type": "string"
        },
        "mandateStatus": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        }
      }
    },
    "QueryMandateResponse": {
      "type": "object",
      "properties": {
        "completedTime": {
          "type": "string"
        },
        "mandateInfo": {
          "$ref": "#/definitions/MandateInfo"
        },
        "payeeName": {
          "type": "string"
        },
        "payerName": {
          "type": "string"
        },
        "mandateStatus": {
          "type": "string"
        }
      }
    },
    "QueryAuthorizationPaymentResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        },
        "refundAmount": {
          "type": "string"
        },
        "transactionStatus": {
          "type": "string"
        },
        "trxID": {
          "type": "string"
        }
      }
    },
    "RefundRequest": {
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "description": "Amount"
        },
        "currency": {
          "type": "string",
          "description": "Currency"
        }
      }
    },
    "CreateMandateResponse": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string"
        },
        "orgLogo": {
          "type": "string"
        },
        "orgName": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        }
      }
    },
    "GetTokenResponse": {
      "type": "object",
      "properties": {
        "id_token": {
          "type": "string"
        },
        "refresh_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "CapturePaymentResponse": {
      "type": "object",
      "properties": {
        "transactionStatus": {
          "type": "string"
        },
        "createTime": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        },
        "trxID": {
          "type": "string"
        },
        "updateTime": {
          "type": "string"
        }
      }
    },
    "RefundResponse": {
      "type": "object",
      "properties": {
        "completedTime": {
          "type": "string"
        },
        "originalTrxID": {
          "type": "string"
        },
        "refundTrxID": {
          "type": "string"
        },
        "transactionStatus": {
          "type": "string"
        }
      }
    },
    "VoidPaymentResponse": {
      "type": "object",
      "properties": {
        "transactionStatus": {
          "type": "string"
        },
        "createTime": {
          "type": "string"
        },
        "paymentID": {
          "type": "string"
        },
        "trxID": {
          "type": "string"
        },
        "updateTime": {
          "type": "string"
        }
      }
    }
  }
}