swagger: '2.0'
info:
  version: 0.40.0
  title: bKash Checkout API
host: checkout.sandbox.bka.sh
basePath: /v0.40.0
schemes:
  - https
paths:
  /checkout/payment/create:
    post:
      tags:
        - Payment
      summary: Create Payment (Sale or Authorize)
      operationId: createPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: CreatePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/CreatePaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/execute/{paymentID}':
    post:
      tags:
        - Payment
      summary: Execute Payment
      operationId: executePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ExecutePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/capture/{paymentID}':
    post:
      tags:
        - Payment
      summary: Capture
      operationId: capturePaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/CapturePaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/query/{paymentID}':
    get:
      tags:
        - Payment
      summary: Query Payment
      operationId: queryPaymentUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryPaymentResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/void/{paymentID}':
    post:
      tags:
        - Payment
      summary: Void
      operationId: voidPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentID
          in: path
          required: true
          type: string
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/VoidPaymentResponse'
      security:
        - cognitoAuthorizer: []
  /checkout/payment/b2cPayment:
    post:
      tags:
        - Payout
      summary: B2C Payment
      operationId: b2cPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: B2CPaymentRequest
          required: true
          schema:
            $ref: '#/definitions/B2CPaymentRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/B2CPaymentResponse'
      security:
        - cognitoAuthorizer: []
  /checkout/payment/organizationBalance:
    get:
      tags:
        - Supporting Operations
      summary: Query Organization Balance
      operationId: queryOrganizationBalanceUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/QueryOrganizationBalanceResponse'
      security:
        - cognitoAuthorizer: []
  /checkout/payment/intraAccountTransfer:
    post:
      tags:
        - Supporting Operations
      summary: Intra-Account Transfer
      operationId: intraAccountTransferUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: IntraAccountTransferRequest
          required: true
          schema:
            $ref: '#/definitions/IntraAccountTransferRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/IntraAccountTransferResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/search/{trxID}':
    get:
      tags:
        - Supporting Operations
      summary: Search Transaction Details
      operationId: searchTransactionUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: trxID
          in: path
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/SearchTransactionResponse'
      security:
        - cognitoAuthorizer: []
  '/checkout/payment/refund/{trxID}':
    post:
      tags:
        - Supporting Operations
      summary: Refund
      operationId: refundTransactionUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: true
          type: string
        - name: trxID
          in: path
          required: true
          type: string
        - name: X-APP-Key
          in: header
          required: true
          type: string
        - in: body
          name: RefundRequest
          required: true
          schema:
            $ref: '#/definitions/RefundRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefundResponse'
      security:
        - cognitoAuthorizer: []
  /checkout/token/grant:
    post:
      tags:
        - Token
      summary: Grant Token
      operationId: getTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: GetTokenRequest
          required: true
          schema:
            $ref: '#/definitions/GetTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/GetTokenResponse'
  /checkout/token/refresh:
    post:
      tags:
        - Token
      summary: Refresh Token
      operationId: refreshTokenUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: header
          required: true
          type: string
        - name: password
          in: header
          required: true
          type: string
        - in: body
          name: RefreshTokenRequest
          required: true
          schema:
            $ref: '#/definitions/RefreshTokenRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/RefreshTokenResponse'
securityDefinitions:
  cognitoAuthorizer:
    type: apiKey
    name: Authorization
    in: header
    x-amazon-apigateway-authtype: cognito_user_pools
definitions:
  ExecutePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  GetTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
  QueryOrganizationBalanceResponse:
    type: object
    properties:
      organizationBalance:
        type: array
        items:
          $ref: '#/definitions/OrganizationBalance'
  RefreshTokenResponse:
    type: object
    properties:
      expires_in:
        type: string
      id_token:
        type: string
      refresh_token:
        type: string
      token_type:
        type: string
  SearchTransactionResponse:
    type: object
    properties:
      amount:
        type: string
      completedTime:
        type: string
      currency:
        type: string
      customerMsisdn:
        type: string
      errorCode:
        type: string
      errorMessage:
        type: string
      initiationTime:
        type: string
      organizationShortCode:
        type: string
      transactionReference:
        type: string
      transactionStatus:
        type: string
      transactionType:
        type: string
      trxID:
        type: string
  CreatePaymentRequest:
    type: object
    required:
      - amount
      - currency
      - intent
      - merchantInvoiceNumber
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
      intent:
        type: string
        description: Intent
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
  IntraAccountTransferRequest:
    type: object
    required:
      - amount
      - currency
      - transferType
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
      transferType:
        type: string
        description: TransferType
  B2CPaymentResponse:
    type: object
    properties:
      completedTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      merchantInvoiceNumber:
        type: string
      receiverMSISDN:
        type: string
  CreatePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      orgLogo:
        type: string
      orgName:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
  B2CPaymentRequest:
    type: object
    required:
      - amount
      - currency
      - merchantInvoiceNumber
      - receiverMSISDN
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
      merchantInvoiceNumber:
        type: string
        description: Merchant Invoice Number
      receiverMSISDN:
        type: string
        description: Receiver MSISDN
  RefreshTokenRequest:
    type: object
    required:
      - app_key
      - app_secret
      - refresh_token
    properties:
      app_key:
        type: string
        description: App Key
      app_secret:
        type: string
        description: App Secret
      refresh_token:
        type: string
        description: Refresh Token
  RefundRequest:
    type: object
    required:
      - amount
      - currency
    properties:
      amount:
        type: string
        description: Amount
      currency:
        type: string
        description: Currency
  GetTokenResponse:
    type: object
    properties:
      expires_in:
        type: string
      id_token:
        type: string
      refresh_token:
        type: string
      token_type:
        type: string
  CapturePaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
  RefundResponse:
    type: object
    properties:
      completedTime:
        type: string
      originalTrxID:
        type: string
      refundTrxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
  IntraAccountTransferResponse:
    type: object
    properties:
      amount:
        type: string
      completedTime:
        type: string
      currency:
        type: string
      transactionStatus:
        type: string
      transferType:
        type: string
      trxID:
        type: string
  OrganizationBalance:
    type: object
    properties:
      accountHolderName:
        type: string
      accountStatus:
        type: string
      accountTypeName:
        type: string
      availableBalance:
        type: string
      currency:
        type: string
      currentBalance:
        type: string
      updateTime:
        type: string
  QueryPaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
      amount:
        type: string
      currency:
        type: string
      intent:
        type: string
      merchantInvoiceNumber:
        type: string
      refundAmount:
        type: string
  VoidPaymentResponse:
    type: object
    properties:
      paymentID:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      trxID:
        type: string
      transactionStatus:
        type: string
